<h2>Create a new drone</h2>

<form action="/drones/create" method="post" class="form">

  <label for="droneName" class="label">Name</label>
  <input id="droneName" name="name" type="text" placeholder="drone name" />

  <label for="dronePropellers" class="label">Propellers</label>
  <input id="dronePropellers" name="propellers" type="propellers" placeholder="number" />

  <label for="maxSpeed" class="label">Max Speed</label>
  <input id="maxSpeed" name="maxSpeed" type="maxSpeed" placeholder="number" />
  
  <button> OK </button>
</form>